*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary:  #ccf2ff;
  --color-sec: #ffb380;
  --color-grey: #eee;
  --color-dark-grey: #222831;
  --color-red-btns: #ff3333;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
  background-color: lightskyblue;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: min-content 3fr 5fr;
}

.title-h1 {
  grid-column: 2 / 3;
  justify-self: center;
}

/*           Add note component           */

.add-note {
  grid-column: 2 / 3;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-note-input {
  width: 100%;
  margin-top: 2rem;
}

#add-note-textarea {
  width: 100%;
  margin-top: 1rem;
}

.btn {
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

#add-note-btn {
  margin-top: 2rem;
  border: none;
  background-color: var(--color-sec);
}